html,
body,
#root {
    min-height: 100vh;
}

.vh-full {
    min-height: 100vh;
}

.colorPanel {
    position: fixed;
    bottom: 0;
    left: 0;
}

.userPanelImg {
    width: 3rem;
    height: auto;
    margin-right: 1rem;
    border-radius: 50%;
}

.addChannelBtn {
    cursor: pointer;
}

.channels-list li {
    cursor: pointer;
}

.channels-list li.active {
    font-weight: bold;
}

