html,
body,
#root {
    min-height: 100vh;
}

.vh-full {
    min-height: 100vh;
}

.colorPanel {
    position: fixed;
    bottom: 0;
    left: 0;
}

.addColorSchema, .colorSchema li {
    content: '';
    display: inline-block;
    width: 56px;
    height: 56px;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
}

.addColorSchema svg {
    display: block;
    width: 56px;
    height: 56px;
}

.colorSchema li span {
    display: block;
    width: 134px;
    height: 56px;
    transform: rotate(225deg);
}

.colorSchema {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
}

.userPanelImg {
    width: 3rem;
    height: auto;
    margin-right: 1rem;
    border-radius: 50%;
}

.addChannelBtn {
    cursor: pointer;
}

.channels-list li {
    cursor: pointer;
}

.channels-list li.active {
    font-weight: bold;
}

.messagesForm {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.emojipicker {
    position: absolute;
}

.messagesForm textarea {
    resize:none;
}

.messagesArea {
    overflow-y: scroll;
    height: 60vh;
    padding-right: 2em;
    position: relative;
}

.ownMessage {
    flex-direction: row-reverse;
    text-align: right;
}

.ownMessage img, .ownMessage .userName {
    display: none;
}

.messagesArea .media {
    margin-bottom: 3rem;
}

.messagesArea .media img {
    width: 3rem;
    height: auto;
    border-radius: 50%;
}

.messagesArea h4 {
    font-size: 1rem;
}

.messagesArea .media-body {
    width: auto;
    max-width: 50%;
    flex: none;
    background-color: rgb(235, 235, 235);
    padding: 0.7rem 1rem;
    border-radius: 1rem;
}

.messagesArea .media-body img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 0.7rem;
    margin: 0.4rem 0 0;
    padding: 0;
}

.messagesArea .ownMessage .media-body {
    background-color: #dff8fc;
}

.messagesArea .timeStamp {
    color: rgb(182, 182, 182);
}

.messagesForm .fileUpload {
    float: right;
    position: relative;
}

.messagesForm .fileUpload .custom-file {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    opacity: 0;
    cursor: pointer;
}

.progress {
    height: 3px !important;
    
}

.topPosters {
    list-style: none;
    padding-left: 0;
}

.modal-body .circle-picker {
    width: 100% !important;
}

.skeleton {
    position: relative;
    overflow: hidden;
    height: 40px;
    margin-bottom: 10px;
}

.skeleton::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    animation: sweep 2s infinite;
    background-image: linear-gradient(
        to left,
        transparent,
        rgba(255, 255, 255, 0.4),
        transparent
    );
}
  
@keyframes sweep {
    0% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(150%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.skeleton-avatar {
    height: 35px;
    width: 35px;
    border-radius: 3px;
    background-color: rgba(58, 57, 57, 0.3);
}

.skeleton-author {
    background-color: rgba(58, 57, 57, 0.3);
    width: 120px;
    height: 10px;
    border-radius: 3px;
    position: absolute;
    bottom: 30px;
    left: 40px;
    right: 0;
}

.skeleton-details {
    background-color: rgba(58, 57, 57, 0.3);
    height: 20px;
    border-radius: 3px;
    position: absolute;
    bottom: 5px;
    left: 40px;
    right: 20px;
}


