html,
body,
#root {
    min-height: 100vh;
}

.vh-full {
    min-height: 100vh;
}

.colorPanel {
    position: fixed;
    bottom: 0;
    left: 0;
}

.addColorSchema, .colorSchema li {
    display: inline-block;
    font-size: 1em;
    padding: 1em 0;
    width: 3.5em;
    text-align: center;
    cursor: pointer;
}

.colorSchema {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
}

.userPanelImg {
    width: 3rem;
    height: auto;
    margin-right: 1rem;
    border-radius: 50%;
}

.addChannelBtn {
    cursor: pointer;
}

.channels-list li {
    cursor: pointer;
}

.channels-list li.active {
    font-weight: bold;
}

.messagesForm {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.messagesForm textarea {
    resize:none;
}

.messagesArea {
    overflow-y: scroll;
    height: 60vh;
    padding-right: 2em;
    position: relative;
}

.ownMessage {
    flex-direction: row-reverse;
    text-align: right;
}

.ownMessage img, .ownMessage .userName {
    display: none;
}

.messagesArea .media {
    margin-bottom: 3rem;
}

.messagesArea .media img {
    width: 3rem;
    height: auto;
    border-radius: 50%;
}

.messagesArea h4 {
    font-size: 1rem;
}

.messagesArea .media-body {
    width: auto;
    max-width: 50%;
    flex: none;
    background-color: rgb(235, 235, 235);
    padding: 0.7rem 1rem;
    border-radius: 1rem;
}

.messagesArea .media-body img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 0.7rem;
    margin: 0.4rem 0 0;
    padding: 0;
}

.messagesArea .ownMessage .media-body {
    background-color: #dff8fc;
}

.messagesArea .timeStamp {
    color: rgb(182, 182, 182);
}

.messagesForm .fileUpload {
    float: right;
    position: relative;
}

.messagesForm .fileUpload .custom-file {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    opacity: 0;
    cursor: pointer;
}

.progress {
    height: 3px !important;
    
}


